[SERVICE]
{% for setting in fluent_conf_service_settings %}
    {{  setting.name }} {{ setting.value }}
{% endfor %}


{% for input in fluent_conf_inputs %}
[INPUT]
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endfor %}


{% for output in fluent_conf_outputs %}
[OUTPUT]
{% for key in output %}
    {{ key }} {{ output[key] }}
{% endfor %}
{% endfor %}


{% for filter in fluent_conf_filters %}
[FILTER]
{% for key in filter %}
    {{ key }} {{ filter[key] }}
{% endfor %}
{% endfor %}


{% if fluent_custom_conf_files is defined and fluent_custom_conf_files|length %}
@INCLUDE custom/conf/*
{% endif %}
